<div class="sidebar">
  
    <div class="sidebar-about">
      <h1 style="text-shadow: 2px 2px #ff0000;">
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
       <img src ="/public/gabe.png">
      <p class="lead">{{ site.description }}</p>
    
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home<a/>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/who">Who?</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/client"> Client Work</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/personal"> Personal Work</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/contact"> Get in Touch</a>
     
      
      
      
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  
</div>
